################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ETicaretAPI/FileContentIndex/b919f12e-44ed-4c06-bd28-5a7705f39974.vsidx
/.vs/ETicaretAPI/FileContentIndex/736e7131-b2c4-4453-8a35-9fb6bf84e9b1.vsidx
/.vs/ETicaretAPI/FileContentIndex/1c3449fa-8a7d-4e28-a575-5e9a264f6973.vsidx
/.vs/ETicaretAPI/FileContentIndex/b65b98e6-03bf-4c24-8d84-d73f6bdd47b3.vsidx
/.vs/ETicaretAPI/FileContentIndex/ba7e2afc-1cf1-4d7b-95a9-a5e0c36e7a98.vsidx
/.vs/ETicaretAPI/FileContentIndex/7269ba2f-4680-4890-82aa-04e6c082f5d4.vsidx
/.vs/ETicaretAPI/FileContentIndex/d0557137-1a68-47b5-8652-63f5cd4f52dc.vsidx
/.vs/ETicaretAPI/FileContentIndex/fe2a7695-3a9d-4dfe-ae7b-802b90412941.vsidx
/.vs/ETicaretAPI/FileContentIndex/2cc96211-17e5-44ed-b52f-d2ff772479d6.vsidx
/.vs/ETicaretAPI/FileContentIndex/6ef2ae61-3aa3-400f-9cf6-9fd2920467ad.vsidx
/.vs/ETicaretAPI/FileContentIndex/9312d04b-d05a-4d93-bb76-4f0d1e3eab4a.vsidx
/.vs/ETicaretAPI/FileContentIndex/df2c97e2-603f-46cc-8343-184f73c88bc9.vsidx
/.vs/ETicaretAPI/FileContentIndex/16eea6f0-a345-46ca-8501-7f469bdc071a.vsidx
/.vs/ETicaretAPI/FileContentIndex/cb917f0e-4b32-4d94-9943-411c52793d3c.vsidx
